<meta charset="ISO-8859-1">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $("#myTable").DataTable();
        });
    </script>
    <title>Applications</title>
</head>
<div class="header">
    <div class="inner_header">
        <ul class="navigation">
            <a href="/">Home</a></li>
            <a href="/applications">Applications</a>
            <a href="/applicants">Applicants</a>
        </ul>
    </div>
</div>
<div class="tableStyle">
    <table id="myTable" class="display">

        <thead class="tableStyle">
        <tr class="tableStyle">
            <th width="20px"><b> JOB ID</b></th>
            <th width="40px"><b>JOB TITLE</b> </th>
            <th width="40px"><b>VOLUNTEERS</b> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobApplicants, iStat : ${applicants}" >

            <td width="20px" th:text="${jobApplicants.job_id}"/>
            <td width="40px" th:text="${jobApplicants.job_title}">
            <td width="40px" th:text="${jobApplicants.volunteer_info}">

        </tbody>
    </table>
</div>

<div id="choose">
</div>

